# Laboratory Report No. 1 - Introduction to Python

## Paloma, John Rohb Gutierrez  | CPE2B

### Task 1
Use logical comparison to determine if there are more than 100,000 seconds in a week. Output should be either True or False.

In [4]:
# Write your program here and execute the cell to display the results.
minute = 60   # 60 seconds in a minute
hour = minute * 60 # 60 minutes in an hour
day = hour * 24 # 24 hours in a day
week = day * 7 # 7 days in a week

if (week > 100000):
    print("True")
else: print("False")

True

### Task 2

Create a basic adder where the user will input “addend1” and “addend2” then the code will output the sum!

In [5]:
# Write your program here and execute the cell to display the results.

addend1 = int(input("Addend1: "))
addend2 = int(input("Addend2: "))

print(f"Result: {addend1} + {addend2} = {addend1 + addend2}")

Addend1: 5
Addend2: 10
Result: 5 + 10 = 15

### Task 3
Create a seconds calculator where the user will input the number of “days” then the code will output the equivalent number of seconds.

In [7]:
days = int(input("How many days: "))
print(f"{days} days is equivalent to {days * day} seconds")

How many days: 1
1 days is equivalent to 86400 seconds

### Task 4
Find a greater number between two numbers from the user. The output prints:<br>
  a. If the first number and second number are equal<br>
  b. If the first number is greater<br>
  c. If the first number is smaller

In [8]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
if (num1 == num2):
  print(f"num1 is equal to num2")
elif (num1 > num2):
    print(f"num1 is greater than num2")
else:
    print(f"num1 is less than num2")

Enter num1: 5
Enter num2: 6
num1 is less than num2

### Task 5
Print the sum of all even numbers from 10 to 20 using a for loop

In [9]:
even_5 = 0
for i in range(10, 21):
  if i % 2 == 0:
    even_5 += i
print(f"The sum of even numbers from 10 to 20 is {even_5}")

The sum of even numbers from 10 to 20 is 90

### Task 6
Check how many times a given number from the user can be divided by 3 before it is less than or equal to 10 using a while loop.

In [17]:
num_6 = int(input("Enter a number: "))
orig_6 = num_6
count_6 = 0
while not num_6 <= 10:
  num_6 /= 3
  count_6 += 1

print(f"{orig_6} could be divided by three {count_6} times before it becomes less than or equal to 10")

Enter a number: 21
21 could be divided by three 1 times before it becomes less than or equal to 10

### Task 7
Given a string = ”DataScienceRocks”, write a code to do the following:
<br>
a. Extract the first 5 characters, then print it.<br>
b. Extract the last 5 characters, then print it.<br>
c. Extract characters from index 2 to 7 (inclusive of 2, exclusive of 7, then print it.<br>
d. Reverse the entire string using slicing, then print the result.<br>
e. Extract every second character from the string, then print the result

In [14]:
string_7 = "DataScienceRocks"

print(f"The first 5 characters are: {string_7[:5]}")
print(f"The last 5 characters are: {string_7[-5:]}")
print(f"Characters from index 2 to 7 exclusive are: {string_7[2:7]}")
print(f"The reverse of the string is: {string_7[::-1]}")
print(f"The every second character from the string are: {string_7[1::2]}")

The first 5 characters are: DataS
The last 5 characters are: Rocks
Characters from index 2 to 7 exclusive are: taSci
The reverse of the string is: skcoRecneicSataD
The every second character from the string are: aacecRcs

### Task 8
Create a list named colors containing the following color names: "red", "green", "blue",
and "yellow".<br>
a. Print the first and last elements of the colors list.<br>
b. Add the color "purple" to the end of the colors list, then print the resulting list.<br>
c. Change the second element of the colors list to "orange", then print the new list.<br>
d. Remove the color "yellow" from the list, then print the resulting list.<br>
e. Insert the color "pink" at the second position in the list, then print the new list.<br>
f. Slice the colors list to get a new list containing only the first three colors. Print this sliced list.

In [15]:
colors_8 = ["red", "green", "blue","yellow"]
print(f"The first color in the tuple is {colors_8[0]} and the last is {colors_8[-1]}")
colors_8.append("purple")
print(f"The resulting list after appending \"purple\" is: {colors_8}")
colors_8[1] = "orange"
print(f"The resulting list after replacing the second element by \"orange\" is: {colors_8}")
colors_8.remove("yellow")
print(f"The resulting list after removing \"yellow\" is: {colors_8}")
colors_8.insert(1, "pink")
print(f"The resulting list after inserting \"pink\" at the second position is: {colors_8}")
newColors_8 = colors_8[:3]
print(f"The new resulting list after splicing the first three colors is: {newColors_8}")

The first color in the tuple is red and the last is yellow
The resulting list after appending "purple" is: ['red', 'green', 'blue', 'yellow', 'purple']
The resulting list after replacing the second element by "orange" is: ['red', 'orange', 'blue', 'yellow', 'purple']
The resulting list after removing "yellow" is: ['red', 'orange', 'blue', 'purple']
The resulting list after inserting "pink" at the second position is: ['red', 'pink', 'orange', 'blue', 'purple']
The new resulting list after splicing the first three colors is: ['red', 'pink', 'orange']

### Task 9
Create a tuple named fruits containing the following fruit names: "apple", "banana", "cherry", and "date". <br>
a. Print the first and last elements of the fruits tuple.<br>
b. Create a new tuple named vegetables containing the following vegetable names:<br>
- "carrot", "broccoli", "spinach", then print it.<br>

c. Concatenate the fruits and vegetables tuples into a new tuple called groceries, then print the resulting tuple.<br>
d. Unpack the groceries tuple into individual variables. Print each variable.<br>
e. Slice the groceries tuple to get a new tuple containing only the first three items. Print this sliced tuple.<br>
f. Count how many times "apple" appears in the groceries tuple, then display the number.

In [35]:
fruits = ("apple", "banana", "cherry", "date")
print(fruits[0], fruits[-1])
vegetables = ("carrot", "broccoli", "spinach")
print(vegetables)
groceries = fruits + vegetables
print(groceries)
apple, banana, cherry, date, carrot, broccoli, spinach = groceries
print(apple, banana, cherry, date, carrot, broccoli, spinach)
newGrocery = groceries[:3]
print(newGrocery)
print(groceries.count("apple"))

apple date
('carrot', 'broccoli', 'spinach')
('apple', 'banana', 'cherry', 'date', 'carrot', 'broccoli', 'spinach')
apple banana cherry date carrot broccoli spinach
('apple', 'banana', 'cherry')
1

### Task 10
Create a dictionary named student with the following key-value pairs: <br>
- "name": "John Doe"
- "age": 20
- "major": "Computer Science" <br>

a. Print the student's name and major from the student dictionary.<br>
b. Update the student's age to 21, then print the updated dictionary.<br>
c. Add a new key-value pair to the dictionary: "GPA": 3.8, then print the updated dictionary.<br>
d. Check if the key "graduation_year" is in the student dictionary. If not, add "graduation_year": 2025. Print the resulting dictionary.<br>
e. Print all the keys and their corresponding values in the student dictionary.<br>
f. Remove the "major" key from the dictionary, then print the updated dictionary.

In [5]:
student = {"name": "John Doe", "age": 20, "major": "Computer Science"}
print(student["name"], student["major"])
student["age"] = 21
print(student)
student["GPA"] = 3.8
print(student)
if "graduation_year" not in student.keys():
  student["graduation_year"] = 2025
print(student)
for key, val in student.items():
  print(f"{key} : {val}")
del student["major"]
print(student)

John Doe Computer Science
{'name': 'John Doe', 'age': 21, 'major': 'Computer Science'}
{'name': 'John Doe', 'age': 21, 'major': 'Computer Science', 'GPA': 3.8}
{'name': 'John Doe', 'age': 21, 'major': 'Computer Science', 'GPA': 3.8, 'graduation_year': 2025}
name : John Doe
age : 21
major : Computer Science
GPA : 3.8
graduation_year : 2025
{'name': 'John Doe', 'age': 21, 'GPA': 3.8, 'graduation_year': 2025}

### Task 11
Write a function called factorial that calculates the factorial of a given non-negative integer from the user. The function should take one parameter: n, and return the factorial of n.

In [19]:
# import math

def factorial(n):
  if n == 1:
    return n
  else:
    # return math.factorial(n)
    return n * factorial(n-1) # recursive methods


print(f"The factorial of 4 is {factorial(4)}")

The factorial of 4 is 24